<% provide(:title, 'Contact') %>
<div class = "contact-pages">
    <h1>Contact</h1>
    <p>
        Contact us about the sample app at the
        <%= link_to "DouTee", "https://www.railstutorial.org/contact" %>.
    </p>
</div>
