.container-answer {
    .answer-header {
        background-color: aquamarine;
        height: 50px;
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        h5 {
            font-size: 25px;
            padding-block-start: 6px;
            color: blue;
        }
    }

    .information-answer {
        background-color: aquamarine;
        width: 40%;
        margin-inline-start: 10%;
        margin-block-start: 10px;
        border-radius: 10px;
        padding: 10px;
        p {
            font-size: 18px;
            a {
                text-decoration: none;
                margin-inline-start: 20px;
                font-size: 20px;
                color: red;
                font-weight: 500;
            }
        }
    }

    .question-wrapper {
        background-color: azure;
        width: 80%;
        margin: 0 auto;
        margin-block-start: 20px;
        display: flex;
        flex-direction: column;
        a {
            margin-block-start: 3px;
            background-color: aquamarine;
            height: 40px;
            border-radius: 10px;
            padding-block-start: 5px;
            padding-inline-start: 10px;
            font-size: 18px;
        }
        .ques-fea {
            margin-inline-start: 10px;
            border-radius: 10px;
            .form-check {
                display: flex;
                flex-direction: row-reverse;
                p {
                    width: 100%;
                    padding-block-start: 10px;
                    padding-inline-start: 10px;
                }
            }
        }
    }
}
