.title-edit {
    padding-block-end: 20px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-block-end: 20px;
    padding-top: 10px;
}

.exam-container {
    height: auto;
    width: 90%;
    margin-inline-start: 5%;
    border-radius: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    border: solid 1px red;
    .box-info-user {
        height: auto;
        width: auto;
        border-radius: 20px;
        h5 {
            padding-block-start: 10px;
            text-align: center;
            font-size: 40px;
            color: cornflowerblue;
            font-family: auto;
        }
        h4 {
            padding-inline-start: 10px;
        }
    }
}

.main-body-exam {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 70%;
    h2 {
        text-align: center;
        background-color: aliceblue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .title-box-exam {
        background-color: beige;
        border-radius: 10px;
        margin-block-end: 10px;
        .mb-3 {
            label {
                padding-inline-start: 10px;
            }
        }
    }
}

.question-warpper {
    width: 70%;
    margin: 0 auto;
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: aquamarine;
    border-radius: 10px;

    ul li {
        list-style: none;
        .ques-fea {
            display: flex;
            flex-direction: column;
            height: auto;
            background-color: aquamarine;
            border-radius: 10px;
            .form-check {
                display: flex;
                margin-block-start: 10px;
                margin-inline-start: -40px;

                .form-check-input {
                    margin-inline-start: 1px;
                    margin-inline-end: 10px;
                    margin-block-start: 10px;
                }

                .form-control {
                    width: 90%;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
                a {
                    
                    padding-block-start: 5px;
                    padding-inline-end: 10px;
                }
            }
            .delete-image {
                text-align: end;
                padding-inline-end: 20px;
                img {
                    height: 30px;
                    padding-block-end: 5px;
                }
            }
        }
    }
    .choise-option {
        display: flex;
        margin-block-start: -15px;
        margin-inline-start: 35px;
        padding-inline-start: 10px;
        background-color: lightcyan;
        border-radius: 10px;
        width: 130px;
        a {
            text-decoration: none;
            color: black;
        }
        img {
            padding-block-end: 5px;
        }
        .form-control {
            width: auto;
        }
    }

    .delete-image {
        text-align: end;
        padding-inline-end: 20px;
        img {
            height: 30px;
            padding-block-end: 5px;
        }
    }
}
