.main_content {
    .right_content {
        .sign_in_up {
            display: flex;
            flex-direction: row;
            .btn {
                margin-left: 10px;
            }
        }
        
        .input_email {
            width: 90%;
            margin-left: 10px;
        }

        .send_password {
            .send_pass {
                width: auto;
            }
        }

    }
}