@import "bootstrap";

$font-family: Arial, sans-serif;
$bg-color: #f7f7f7;
$container-bg-color: #fff;
$border-color: #e0e0e0;
$section-bg-color: #f9f9f9;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$padding: 20px;
$bg-box-color: #D9EDF7;

.container-main {
    height: auto;
    margin: 0 auto;
    background-color: $container-bg-color;
    padding: $padding;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    width: 80%;
    
    p {
        padding: 15px;
    }

    .title_box {
        height: 50px;
        background-color: $bg-box-color;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .infor-user {
        display: flex;
        flex-direction: column;
        a {
            margin-inline-start: 20px;
            margin-block-start: 5px;
        }
    }

    .personal-info, .exam-section {
        border: 1px solid $border-color;
        margin-bottom: 20px;
        background-color: $section-bg-color;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: 10px;
    }

    .personal-info {
        img {
            display: block;
            margin: 0 auto 10px;
            margin-block-start: 10px;
        }
        width: 300px;
    }
    
    .exam-section {
        text-align: center;
    
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        width: 800px;
        
    }

    .list_test {
        height: auto;
        margin-top: 10px;
        background-color: $bg-box-color;
        border-radius: 10px;
        padding-bottom: 10px;
        h6 {
            text-align: left;
            padding-inline-start: 20px;
            padding-block-start: 10px;
            a {
                text-decoration: none;
                color: red;
            }
        }
    }

    .note-bottom {
        margin-top: 5px;
        a {
            margin-top: 5px;
        }
    }
}

.contact-pages {
    width: 80%;
    margin: 0 auto;
}

.about-pages {
    width: 80%;
    margin: 0 auto;
}


.dropdown { 
    position: relative; 
    display: inline-block; 

    .fea_header:hover {
        background-color: aqua;
    }
  } 
   
.dropbtn { 
    background-color: mintcream; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
} 

.dropdown-content { 
    display: none; 
    position: absolute; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
} 

.dropdown-content a { 
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
} 

.dropdown:hover .dropdown-content { 
    display: block; 
} 

.logo_header {
    display: flex;
    flex-direction: row;
    h5 {
        padding-top: 10px;
        padding-inline-start: 10px;
    }
}
