.sub-container {
    display: flex;
    .left-box-sub {
        height: auto;
        width: 20%;
        margin-left: 100px;
        margin-block-start: 15px;
        .form-group {
            width: 90%;
            margin: 0 auto;
        }
        .btn {
            margin-block-start: 10px;
            margin-inline-start: 5%;
        }
    }

    .right-box-sub {
        width: 65%;
        margin: 0 auto;
        .number-sub {
            h4 {
                color: aquamarine;
                margin-left: 5%;
            }
        }

        .body-subject {
            width: auto;
            padding-right: 20px;
            margin: 0 auto;
            ul {
                list-style-type: none;
                .name-sub {
                    height: 100px;
                    background-color: aliceblue;
                    justify-content: center;
                    padding-block: 10px;
                    margin-top: 10px;
                    margin-inline-start: 10px;
                    border-radius: 10px;
                    .gravatar {
                        padding-inline-start: 10px;
                        border-radius: 20px;
                        padding-inline-end: 10px;
                    }
                    .name_subject {
                        color: red;
                        text-decoration: none;
                        display: inline-block;
                        width: 20%;
                    }
                    .fea_top{
                        margin-left: 50%;
                    }
                    .gravatar {
                        height: 80px;
                        width: 80px;
                    }
                    .fea_subject {
                        height: 30px;
                        width: 30px;
                    }
                    form {
                        margin-top: -6%;
                        margin-left: 85%;
                    }

                    .name_user {
                        display: inline-block;
                        width: 20%;
                        text-decoration: none;
                        color: black;
                    }

                    .btn {
                        color: white;
                        margin-left: 50%;
                    }
                }
                li {
                    margin-top: 30px;
                    color: red;
                    font-family: monospace;
                    font-weight: 600;
                }
            }
        }
    }
}

.subject-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px;
    .image-subject {
        display: flex;
        flex-direction: column;
        img {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            margin: 0 auto;
        }
        text-align: center;
        span {
            color: red;
        }
        .sub_name {
            width: auto;
            margin-top: 10px;
            border-radius: 5px;
        }
    }
    .subject-content {
        margin-inline-start: 10px;
        margin-block-start: 10px;
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .content_sub {
            border-radius: 5px;
            padding-left: 10px;
            margin-bottom: 10px;
        }
        .btn_update {
            width: 100px;
            margin: 0 auto;
        }
    }
}

h1 {
    font-weight: normal;
    color: #007f49;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FEFEFE;
    text-align: center;
    font-size: 20px;
}
