.sub-container {
    display: flex;
    .left-box-sub {
        height: auto;
        width: 20%;
        margin-left: 100px;
        margin-block-start: 15px;
        .form-group {
            width: 90%;
            margin: 0 auto;
        }
        .btn {
            margin-block-start: 10px;
            margin-inline-start: 5%;
        }
    }

    .right-box-sub {
        width: 65%;
        margin: 0 auto;
        .number-sub {
            h4 {
                color: aquamarine;
                margin-left: 5%;
            }
        }

        .body-subject {
            width: auto;
            padding-right: 20px;
            margin: 0 auto;
            ul {
                list-style-type: none;
                .name-sub {
                    height: 100px;
                    background-color: aliceblue;
                    justify-content: center;
                    padding-block: 10px;
                    margin-top: 10px;
                    margin-inline-start: 10px;
                    border-radius: 10px;
                    .gravatar {
                        padding-inline-start: 10px;
                        border-radius: 20px;
                        padding-inline-end: 10px;
                    }
                    a {
                        color: red;
                        text-decoration: none;
                    }
                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
                li {
                    margin-top: 30px;
                    color: red;
                    font-family: monospace;
                    font-weight: 600;
                }
            }
        }
    }
}

.subject-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: solid aquamarine;
    .image-subject {
        display: flex;
        flex-direction: column;
        img {
            height: 100px;
            width: 100px;
            border-radius: 10px
        }
        text-align: center;
        span {
            color: red;
        }
    }
    .subject-content {
        margin-inline-start: 10px;
        margin-block-start: 10px;
    }
}
